name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          
          # Your User ID
          user: uddeshsingh
          template: classic
          
          # Replicating your URL settings:
          # base.header=0 (Disables the header)
          base: activity, community, repositories, metadata
          
          # gists=1 (Enables Gists)
          plugin_gists: yes
          
          # lines=1 (Enables Lines of code)
          plugin_lines: yes
          
          # Fixed Timezone (You had Toronto, I changed to Oman/Muscat based on your location)
          config_timezone: USA/Dallas
