name: Contribution snake

on:
  schedule:
    # Runs at midnight every day
    - cron: "0 0 * * *" 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: 
      contents: write # This is required to push the new branch
    steps:
      - uses: Platane/snk@v3
        with:
          # Your GitHub username
          github_user_name: uddeshsingh
          # Generates the snake
          outputs: |
            dist/github-contribution-snake.svg
            dist/github-contribution-snake-dark.svg?palette=github-dark

      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
